<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} - Briefbox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Briefbox</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('create_account') }}">Create Account</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('list_accounts') }}">List Accounts</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('search_emails') }}">Search Emails</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>