{% extends 'base.html' %}

{% block title %}List Accounts{% endblock %}

{% block content %}
<h2>Email Accounts</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Protocol</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account[0] }}</td>
            <td>{{ account[1] }}</td>
            <td>{{ account[3] }}</td>
            <td>
                <a href="{{ url_for('update_account', account_id=account[0]) }}"
                    class="btn btn-sm btn-primary">Update</a>
                <a href="{{ url_for('delete_account', account_id=account[0]) }}"
                    class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}